img{
	height: 100px;
	width: 100px;
	float: left;
}
div{
	clear: both;
}
p{
	margin: 3px;
}
#maindiv{
	margin-bottom: 40px;
}
.loading{
	   border:1px solid #000;
	   text-align:center;
	   font-weight:bold;
	   margin:5px;
	}