	#context-menu{
 		display: none;
 		position: fixed;
 	}
 	ul{
 		border: 1px solid #A4A4A4;
 		border-radius: 5px;
 		width: 300px;
 		position: fixed;
 		padding: 0;
 	}
 	li{
 		list-style: none;
 	}
 	li a{
 		display: block;
 		text-decoration: none;
 		color: black;
 		padding: 5px 20px;
 	
 	}
 	li a:hover{
 		background-color: red;
 	}
 	a{
 		font-weight: bold;
 	}
 	