	#menu{
 		display: none;
 		position: fixed;
 		top: 0;
 		bottom: 0;
 		right: 0;
 		left: 0;
 	}
 	ul{
 		border: 1px solid #A4A4A4;
 		width: 300px;
 		position: fixed;
 		padding: 0;
 	}
 	li{
 		list-style: none;
 	}
 	li a{
 		display: block;
 		text-decoration: none;
 		color: black;
 		padding: 5px 20px;
 		font-family: Arial, sans-serif;
 		font-size: 12px;
 	}
 	li a:hover{
 		background-color: #E6E6E6;
 	}